@use "index";
// Starting responsive design
.header {
  display: flex;
  height: 8rem;
  background-color: index.$color-grey-dark;
  align-items: center;
  justify-content: flex-end;
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 1rem;

  &__text {
    flex: 1;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      transform: translateY(-0.2rem);
    }
  }

  &__logo {
    flex: 1;
    display: block;
    object-fit: contain;
    height: 5rem;
    width: 5rem;
  }

  &__authentication {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    align-items: center;

    &-login {
      text-align: center;
      transition: all 0.2s;

      &:hover {
        transform: translateY(-0.2rem);
      }
    }

    &-signup {
      padding: 0.5rem 1rem;
      border: 1px solid index.$color-white;
      text-align: center;
      border-radius: 100px;
      transition: all 0.2s;

      &:hover {
        transform: translateY(-0.3rem);
        background-color: white;
        color: index.$color-grey-dark;
      }
    }
  }
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.2s;

  &:hover {
    transform: translateY(-0.3rem);
  }

  &__image {
    object-fit: cover;
    border-radius: 50px;
    display: block;
    height: 50px;
  }
}
