@use "index";

.signup {
  width: 40rem;
  background-color: white;
  margin: 10rem auto;
  padding: 4rem;
  border-radius: 6px;
  box-shadow: index.$shadow-light;
  position: relative;

  & h3 {
    font-size: 1.8rem;
    color: index.$color-primary-light;
    text-transform: uppercase;
    display: inline-block;
  }

  &__form {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    color: index.$color-grey-dark;
    font-weight: 700;

    & input {
      background-color: index.$color-grey-light-2;
      border: none;
      margin-bottom: 2.55rem;
      height: 3.5rem;
      padding: 0 2rem 0 2rem;
      border-radius: 3px;
      color: inherit;
      font-weight: inherit;
      font-family: "Lato", sans-serif;

      &:focus {
        outline: none;
        border-bottom: 2px solid index.$color-secondary-dark;

        &:valid {
          border-bottom: 2px solid index.$color-primary;
        }
      }

      &::placeholder {
        color: rgba(153, 153, 153, 0.5);
      }
    }
  }

  &__btn {
    color: white;
    background-color: index.$color-primary;
    border: none;
    border-radius: 100px;
    width: 10rem;
    height: 4rem;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &:hover {
      transform: translateY(-0.25rem);
      box-shadow: 0 1rem 2rem rgb(0 0 0 / 15%);
    }
  }
}
